.containerr{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding : 0rem 2rem;
}
.wrapper{
display: flex;
justify-content: center;
align-items: baseline;   
position: relative; 
}
.wrapper >img{
position: absolute;
width: 30rem;
bottom: 0;

}


.bluecricle{
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    z-index: -99;
    background: linear-gradient(135.74deg , #0bb5ff 14.09%, #6dd3fe 83.81%);
}

.cart2{
    align-items: center;
    bottom: 8rem;
    position: absolute;
    background-color: white;
    padding: 8px;
    left: 37rem;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 6px solid;
    font-size: 2rem;
    display: flex;
    cursor: pointer;
}
.sigub{
    display: flex;
    gap: 2rem;
    bottom: 8rem;
    left: 42rem;
    position: absolute;
    background-color: white;
    padding: 8px;
    border-radius: 10px;
    box-shadow: var(--shadow1);

}
.sigub>span{
 font-size: 15px;
}
.sigub >:nth-child(2){
    border: 1px solid skyblue;
    width: 29px;
    height: 26px;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 14px 2px 0px;
    cursor: pointer;
}

.h-side .text2{
    display: flex;
    flex-direction: column;
    width: min-content;
}

.h-side .text2 >:nth-child(1){
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    font-weight: 800;
    color: black;
}
.h-side{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
}
.h-side .text1{
    font-size:1.5rem ;
    font-weight: 600;
    text-transform: uppercase;
    width: min-content;
    display: block;
    color: black;
}

.h-side .traffic{
    display: flex;
    flex-direction: column;
    text-align: right;
}
.traffic>:nth-child(1){
    font-weight: 800;
    font-size: 2.5rem;
}

.h-side .customers{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.customers>:nth-child(1){
    font-weight: 800;
    font-size: 2.5rem;
}

@media screen and (max-width:896px){
    .text1, .text2>span:nth-of-type(2){
            font-size:.9rem;
            text-align: justify;
    }
    .text2 > span:nth-of-type(1),
    .traffic > span:nth-child(1),
    .customers >span:nth-child(1){
        font-size: 1.5rem;
        text-align: left;
    }
    .bluecricle{
        position: absolute;
        width: 70%;
        height: 100%;
    }
    .wrapper>img{
        width: 70%;
        height: 100%;
    }
    .containerr{
        grid-template-areas: 
        'left center center'
        'right right right'
        ;
    }
    .containerr>:first-child{
        grid-area: left;
        grid-template-rows:none ;
        gap: 8rem;
    }
    .containerr >:nth-child(2){
        grid-area: center;
    }
    .containerr>:nth-child(3){
        grid-area: right;
        display: flex;
        justify-content: space-around;
        margin: 2rem 0rem ;
    }
    .wrapper .cart2{
        left: 19rem;
        bottom: 4rem;
    }
    .sigub{
        left: 24rem;
        bottom: 4rem;
    }

}